


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    widows: 100vw;
    height: 100vh;
    background-color:  #212060;
}

.container {
    width: 500px;
    max-width: 80%;
    background-color: #154290;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #111439;
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #03EC70;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #2B37AE;
    outline: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #0AD390;
    color: white;
}

#text {
    font-size: 18px;
    font-weight: 300;
    color: #03EC70;
    width: 90%;
    padding-left: 4%;
}